@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Good Morning, Good Afternoon And Good Night</h1>
    <img src="2362037.jpg" alt="horse" class="w-100 h-50">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul><li class="navbar "></li></ul>
</div>
